/*------------------- reset -------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------- container -------------------*/
#container {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*------------------- header -------------------*/
#header {
    width: 100%;
    height: 12vh;
    background-color: #766626;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #393411;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #dfe1bf;
}

/*------------------- main -------------------*/
#main {
    width: 100%;
    background-color: #beaf80;
    padding-top: 12vh;
    /* عشان الهيدر fixed */
}

/*--------------- Home ---------------*/
#home-section {
    width: 100%;
    height: 85vh;
    background: url("../images/background.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

#home-section p {
    font-size: 5rem;
    font-weight: bold;
    color: #47401a;
}

#home-section h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    color: #47401a;
    margin-top: 2vh;
}

/*--------------- About ---------------*/
#about-me {
    width: 100%;
    min-height: 90vh;
    background-color: hsla(57, 26%, 68%, 0.792);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 8vw;
}

.about-title {
    font-size: 5rem;
    font-weight: bold;
    color: #47401a;
    margin-bottom: 5vh;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    width: 80%;
    align-items: center;
}

.about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2vh;
    color: #47401a;
}

.about-text p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    color: #47401a;
}

.about-img img {
    width: 30vw;
    border-radius: 30%;
    justify-self: center;
}

/*--------------- Projects ---------------*/
#projects-section {
    width: 100%;
    background-color: hsla(56, 47%, 76%, 0.792);
    padding: 5vh 0;
}

.projects-title {
    font-size: 5rem;
    font-weight: bold;
    color: #47401a;
    text-align: center;
    margin-bottom: 5vh;
}

.projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    justify-content: center;
    align-items: start;
    width: 80%;
    margin: 0 auto;
}

.project {
    background-color: #766626a8;
    border-radius: 10%;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.project h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2vh;
    color: #47401a;
}

.project video {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

video:fullscreen {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.project p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    margin: 2vh 0;
    color: #47401a;
    text-align: center;
}

.project button {
    background-color: #47401a;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1vh 2vw;
    cursor: pointer;
    transition: 0.3s;
}

.project button:hover {
    background-color: #6a5b2c;
}

.project:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*--------------- Contact ---------------*/
.contact-box {
    background: url("../images/contact me.png") no-repeat center/contain;
    ;
    width: 100vw;

    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5vw;
    /* مسافة بين العمودين */
    padding: 2vh 3vw;
    background-size: 85vw 85vh;
}

.contact-text {
    width: 30%;
}

.contact-text h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #4b3a1f;
    margin-bottom: 2vh;
}

.contact-text p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #3d2f1b;
    font-style: italic;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    /* الأزرار فوق بعض */
    gap: 1.2vh;
    width: 20%;
}

.contact-buttons button {
    font-size: 1rem;
    background-color: #47401a;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1vh 1.5vw;
    transition: 0.3s;
    text-align: left;
    width: 100%;
}

.contact-buttons button:hover {
    background-color: #6a5b2c;
    transform: translateY(-2px);
}

/*--------------- Footer ---------------*/
#footer {
    width: 100vw;
    height: 5vh;
    background-color: #47401a;
    display: flex;
    gap: 1vw;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1vw;
}

#creater-section {
    width: 50vw;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#linkedin,
#github {
    width: 4vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin img {
    width: 3vw;
    height: 4vh;
}

#github img {
    width: 4vw;
    height: 4vh;
}

/*------------------- Responsive -------------------*/

/* Small screens */
@media screen and (max-width: 768px) {

    nav ul {
        flex-direction: row;
        gap: 1vh;
    }

    #home-section h1 {
        font-size: 2rem;
    }

    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img img {
        width: 60vw;
    }

    .projects-content {
        grid-template-columns: 1fr;
    }

    .project {
        width: 80%;
        margin: 0 auto;
    }

    .contact-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        /* الصورة تصغر وتظهر كاملة */
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        padding: 4vh 5vw;
        gap: 3vh;
    }

    .contact-text {
        width: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }

    .contact-buttons {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    .contact-buttons button {
        width: 100%;
        /* كل الأزرار نفس العرض */
        text-align: center;
        font-size: 1.2rem;

    }
}

/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .projects-content {
        grid-template-columns: 1fr;
    }

    .contact-box {
        flex-direction: column;
        background-size: cover;
        height: auto;
    }

    .contact-text,
    .contact-buttons {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

/*--------------- scroll fix ---------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}